atomicwrites==1.4.0
attrs==20.3.0
beautifulsoup4==4.9.3
certifi==2023.7.22
chardet==4.0.0
colorama==0.4.4
html5lib==1.1
idna==2.10
iniconfig==1.1.1
packaging==20.9
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest==6.2.2
requests==2.31.0
six==1.16.0
soupsieve==2.2.1
toml==0.10.2
urllib3==1.26.5
webencodings==0.5.1
